idp.host.name={{shibboleth_idp_hostname}}
idp.keystore.password={{shibboleth_idp_keystore_pass}}
idp.sealer.password={{shibboleth_idp_sealer_pass}}
idp.src.dir={{shibboleth_IDP_SRC_path}}
idp.target.dir={{shibboleth_idp_target_dir}}
idp.entityID={{shibboleth_idp_entityid}}
idp.scope={{shibboleth_idp_scope}}
idp.sealer.storePassword={{shibboleth_idp_sealer_pass}}
idp.sealer.keyPassword={{shibboleth_idp_sealer_pass}}
