<?php

$defaults['auth/ldap']['bind_dn'] = '{{moodle_ldap_bind_dn}}';
$defaults['auth/ldap']['bind_pw'] = '{{moodle_ldap_bind_pw}}';
$defaults['auth/ldap']['contexts'] = '{{moodle_ldap_contexts}}';
$defaults['auth/ldap']['host_url'] = '{{moodle_ldap_host_url}}';
$defaults['moodle']['auth'] = 'ldap,email';
// $defaults['auth/ldap'][''] = '';
